<div class="card-plant" data-controller='activate-my-plants' data-activate-my-plants-target='card'>
  <%= link_to plant_path(my_plant.plant.id) do %>
  <img src="<%= my_plant.plant.plant_url %>" />
  <% end %>
  <div class="card-my-plant-infos" data-activate-my-plants-target='infos'>
    <h2><%= my_plant.plant.name %></h2>
    <p><%= my_plant.plant.description.split(/[.?!]/).first %>.</p>
    <%= simple_form_for my_plant, remote: true,html: {class: '', data: { activate_my_plants_target: 'form', action: 'submit->activate_my_plants#update' } } do |f| %>
      <%= f.hidden_field :active  %>
      <%= button_tag type: 'submit', class: "toggled-button" do %>
        <% if my_plant.active %>
        <i class="fas fa-toggle-on fa-xs ml-2" aria-hidden="true"></i>
        <% else %>
        <i class="fas fa-toggle-off fa-xs ml-2" aria-hidden="true"></i>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
