<div class="dashboard">
  <div class="container">
    <div>
      <h1>Hello, <%= current_user.first_name %>!</h1>
      <p>Welcome to your Garden.</p>
    </div>
      <% if current_user.photo.attached? %>
      <%= cl_image_tag current_user.photo.key, crop: :fill, class: "avatar-large-dashboard" %>
      <% else %>
        <%= link_to image_tag('maruan_profile.jpeg', class: "avatar-large-dashboard"), edit_user_registration_path(current_user)%>
      <% end %>
  </div>
</div>

<div class="h5 my-3">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link <%= params[:tab].present? ? '' : 'active'  %>" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected=" <%= params[:tab].present? %>">My plantyys</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link <%= params[:tab].present? ? 'active' : ''  %>" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected=" <%= params[:tab].present? %>">Water</a>
    </li>
    <%# <li class="nav-item" role="presentation">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Fertilizer</a>
    </li> %>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade <%= params[:tab].present? ? '' : 'show active'  %>" id="home" role="tabpanel" aria-labelledby="home-tab">
      <%= render 'my_plants_list', my_plants: @my_plants %>
    </div>
    <div class="tab-pane fade <%= params[:tab].present? ? 'show active' : ''  %>" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="link">
        <% @my_garden.my_plants.each do |my_plant| %>
          <div class="watering-link">
            <%= link_to plant_path(my_plant.plant.id) do %>
              <div class="card-plant">
                <img  src="<%= my_plant.plant.plant_url %>" />
                <div class="card-plant-infos">
                  <h2><%= my_plant.plant.name %></h2>
                  <% days_since_watered = Time.now.yday - my_plant.water_level %>
                  <div class="water-drops">
                    <% days_since_watered.times do%>
                      <i style="filter:grayscale(1)" class="fas fa-tint"></i>
                    <% end %>
                    <% (my_plant.plant.water.to_i - days_since_watered).times do%>
                      <i class="fas fa-tint"></i>
                    <% end %>
                    <%= link_to water_plant_path(my_plant), method: :patch do%>
                      <%= image_tag 'watering-can.png', class:"watering-can" %>
                    <% end %>
                  </div>
                </div>
              </div>
             <% end %>
          </div>
        <% end %>
    </div>
    <%# <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      <div class="link">
          <% @my_garden.my_plants.each do |my_plant| %>
            <%#= link_to plant_path(my_plant.plant.id) do %>
            <%# <div class="card-plant">
              <%# <img  src="<%= my_plant.plant.plant_url %>
              <%# <div class="card-plant-infos">
                <h2>= my_plant.plant.name</h2>
                <p><%= my_plant.plant.description.split(".").first.</p>
              <%# </div>
            </div> %>
            <%# end %>
          <%# end %>
      <%# </div>
    </div> %>
  </div>
