
<div class= "main text-center">
  <div class = "banner-kit d-flex flex-column justify-content-center align-items-center ">
    <h1 style="">PLANTYY</h1>
    <br>
    <%=link_to "Get Started", garden_kits_path, class: "btn-flat"%>
    <%= link_to "#how-it-works" do %>
      <%= image_tag ("go-down-button.png"), class: "go-down-button" %>
    <% end  %>
  </div>
  <div class="icon-container">
    <div>
      <i class="fas fa-tint" ></i>
      <p>Want to save water? No problem!</p>
      <i class="fas fa-sun"></i>
      <p>Your place has more shadow? We got your covered!</p>
    </div>
    <div>
      <i class="fas fa-cat"></i>
      <p>And we care about your cat😽 </p>
    </div>
  </div>

  <div id="how-it-works">
      <h2>How it works</a></h2>
  </div>


    <div class="steps">
      <div class = "step-container-left d-flex justify-content-between">
        <%= image_tag ('step1-leaf.png'), class: "leaf-left" %>
        <div class="steps-placeholder"></div>
        <div class = "text-left">
          <h3>Step 1</h3>
          <h4>Browser/Search our amazing kits!</h4>
          <p>You don't have to assemble your garden, we do it for you!</p>
        </div>
      </div>

      <div class = "step-container-right d-flex justify-content-between">
        <div class = "text-left">
          <h3>Step 2</h3>
          <h4>Choose the kit</h4>
          <p>You can even click into the individual plant to see more details!
          For example, whether they are cat-friendly!</p>
        </div>
        <%= image_tag ('step2-leaf.png'), class: "leaf-right" %>
      </div>
      <br>
      <div class = "step-container-left d-flex justify-content-between">
        <%= image_tag ('step3-leaf.png'), class: "leaf-left" %>
        <div class="steps-placeholder"></div>
        <div class = "text-left">
          <h3>Step 3</h3>
          <h4>Once decided, add the kit(s) into your own garden!</h4>
        </div>
      </div>

      <div class = "step-container-right d-flex justify-content-between" id="step-4">
        <div class = "text-left">
          <h3>Step 4</h3>
          <h4>Activate your plants!</h4>
          <p>Sync your garden with your real plant: plant it, activate it in your
            garden, get notifications for the next steps of taking care of them!</p>
        </div>
        <div class="steps-placeholder"></div>
        <%= image_tag ('step4-leaf.png'), class: "leaf-right" %>
      </div>
    </div>
  </div>

</div>
