<div class="big-card-plant">
  <div>
    <h1><%= @plant.name %></h1>
    <%= image_tag @plant.plant_url, class: "img-homepage" %>
  </div>
</div>

<div class="container">
  <p class="description"><%= @plant.description %></p>
  <ul>
    <li><i class="fas fa-tint"></i>
        <% if @plant.water == "high" %>
          <%= "Needs a lot of water" %>
        <% elsif @plant.water == "medium" %>
          <%= "Needs moderate amount of water " %>
        <% else %>
          <%= "Doesn't need a lot of water" %>
        <% end %>
    </li>

    <li><i class="fas fa-sun"></i>
      <% if @plant.sunlight == "high" %>
        <%= "Needs a lot of sunshine" %>
      <% elsif @plant.sunlight == "medium" %>
        <%= "Needs moderate amount of sunshine " %>
      <% else %>
        <%= "Doesn't need a lot of sunshine" %>
      <% end %>
    </li>

    <li><i class="fas fa-cat"></i>
      <% if @plant.cat == "toxic" %>
        <%= "Toxic to cat" %>
      <% else %>
        <%= "Not toxic to cat" %>
      <% end %>
    </li>
  </ul>
</div>
