<%= link_to garden_kit_path(garden_kit.id) do %>
<div class="card-kit flex-fill">
  <img src="<%= garden_kit.kit_url %>" />
  <div class="card-kit-infos">
    <div>
      <div class="d-flex justify-content-between" id="name-price-container">
        <h2><%= garden_kit.kit_name %></h2>
        <%= "#{garden_kit.price} €"%>
      </div>
      <p> <%= garden_kit.description%> </p>
      <p class="category">Categories: cat safe, sunny</p>
        <% @sum = 0 %>
        <% @array = [] %>
        <% garden_kit.reviews.each do |review| %>
        <% @rating = review.rating %>
        <% @array << @rating %>
        <%  @sum += @rating %>
        <% end %>
        <% total = @array.size %>
        <% sum = @sum %>
        <%= "#{sum/total.to_f}" %>
    </div>
  </div>
</div>
<% end %>
