
<div class="banner-kit" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @garden_kit.kit_url %>);">
  <div class="container">
    <h1><%= @garden_kit.kit_name %></h1>
    <p>Welcome to <%= @garden_kit.kit_name %> kit!</p>
    <button class="btn btn-flat" data-toggle="modal" data-target="#addkitModal">Get this kit
    </button>
</div>
  <div class="modal fade" id="addkitModal" tabindex="-1" role="dialog" aria-labelledby="addkitModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="addkitModalLabel">Kit ordered</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
           <div class="pop-up">We are now sending you everything you need right to you doorstep!
           Until then, you can find all the awesome plants you just purchased
           in your personal garden as a preview!</div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-flat" data-dismiss="modal">
                <% if MyGarden.find_by(user_id: current_user.id).my_plants.present? %>
                <%= link_to "GO TO MY GARDEN", my_garden_path(params[:id]), method: :PATCH%>
                <% else %>
                <%= link_to "GO TO MY GARDEN", my_garden_index_path(kit_id: @garden_kit), method: :POST %>
                <% end %>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
   <div class="link">
    <% @plants.each do |plant| %>
      <%= link_to plant_path(plant.id) do %>
      <div class="card-plant">
        <img src="<%= plant.plant_url %>" />
        <div class="card-plant-infos">
          <h2><%= plant.name %></h2>
          <p><%= plant.description.split(".").first%>.</p>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
