
<div class="banner-kit" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @garden_kit.kit_url %>);">
  <div class="container">
    <h1><%= @garden_kit.kit_name %></h1>
    <p>Welcome to <%= @garden_kit.kit_name %> kit!</p>
    <% if MyGarden.find_by(user_id: current_user.id).present? %>
    <%= link_to "Get this kit", my_garden_path(current_user.my_garden, kit_id: @garden_kit), method: :PATCH, class: "btn btn-flat" %>
    <% else %>
    <%= link_to "Get this kit", my_garden_index_path(kit_id: @garden_kit), method: :POST, class: "btn btn-flat" %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="link">
    <% @plants.each do |plant| %>
      <%= link_to plant_path(plant.id) do %>
      <div class="card-plant">
        <img src="<%= plant.plant_url %>" />
        <div class="card-plant-infos">
          <h2><%= plant.name %></h2>
          <p><%= plant.description.split(".").first%>.</p>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
